In [1]:
import pandas as pd
df = pd.read_csv('associado.csv')

In [3]:
import sqlite3
# Create your connection.
cnx = sqlite3.connect('associado.db')

In [4]:
df.to_sql('associado', index=False, con=cnx)

199

In [42]:
pd.read_xml('data/conta.xml', parser = 'etree')

      id         tipo         data_criacao  id_associado
0      1  empresarial  2023-05-22 00:00:00           123
1      2  empresarial  2023-08-13 00:00:00            97
2      3     poupanca  2023-07-09 00:00:00            79
3      4  empresarial  2024-04-10 00:00:00            40
4      5     corrente  2023-07-27 00:00:00            86
..   ...          ...                  ...           ...
239  240     poupanca  2023-05-15 00:00:00           178
240  241     poupanca  2024-11-15 00:00:00           136
241  242     corrente  2023-04-16 00:00:00           124
242  243  empresarial  2024-02-20 00:00:00           113
243  244  empresarial  2023-04-12 00:00:00            18

[244 rows x 4 columns]

In [6]:
pd.read_sql('select * from associado', con=cnx)

      id        nome     sobrenome  idade                 email
0      1    cliente1    sobrenome1     22    cliente1@email.com
1      2    cliente2    sobrenome2     41    cliente2@email.com
2      3    cliente3    sobrenome3     80    cliente3@email.com
3      4    cliente4    sobrenome4     48    cliente4@email.com
4      5    cliente5    sobrenome5     20    cliente5@email.com
..   ...         ...           ...    ...                   ...
194  195  cliente195  sobrenome195     39  cliente195@email.com
195  196  cliente196  sobrenome196     52  cliente196@email.com
196  197  cliente197  sobrenome197     28  cliente197@email.com
197  198  cliente198  sobrenome198     22  cliente198@email.com
198  199  cliente199  sobrenome199     57  cliente199@email.com

[199 rows x 5 columns]

In [13]:
df = pd.read_csv('cartao.csv')

In [14]:
df

      id   num_cartao  nom_impresso  id_conta  id_associado
0      1  45362117086           NaN        33           103
1      2  71600523487           NaN       160           101
2      3  46016682819           NaN       155            60
3      4  67015736695           NaN       213           190
4      5  81192832431           NaN        40           114
..   ...          ...           ...       ...           ...
283  284  73021062041           NaN        75            70
284  285  54150460402           NaN       185           176
285  286  64494953936           NaN        29            38
286  287  73731978965           NaN       244             1
287  288  47887195670           NaN       177           149

[288 rows x 5 columns]

In [18]:
df['nom_impresso'] = 'cliente' + df['id_associado'].astype(str)

In [15]:
import numpy as np
# Definir o intervalo de datas
data_inicio = '2024-01-01'
data_fim = '2024-07-31'

# Gerar timestamps aleatórios
num_registros = 288  # Quantidade de timestamps desejada

# Converter para datetime64[ns]
start = pd.to_datetime(data_inicio)
end = pd.to_datetime(data_fim)

# Gerar timestamps aleatórios usando numpy
random_timestamps = pd.to_datetime(
    np.random.randint(
        start.value,  # Valor em nanossegundos
        end.value, 
        size=num_registros
    )
)

# Criar DataFrame
random_timestamps

# Formatar a exibição (opcional)
#df['timestamp_aleatorio'] = df['timestamp_aleatorio'].dt.strftime('%Y-%m-%d %H:%M:%S')

DatetimeIndex(['2024-02-21 00:32:13.791997914',
               '2024-06-04 04:47:17.754766557',
               '2024-05-29 03:18:51.676915375',
               '2024-01-23 04:23:27.469614399',
               '2024-04-10 01:29:02.164619902',
               '2024-05-16 02:16:08.628191751',
               '2024-04-28 09:24:13.372573233',
               '2024-05-23 07:25:49.797663447',
               '2024-01-23 21:50:36.925584433',
               '2024-03-30 22:37:57.294672656',
               ...
               '2024-03-11 01:59:44.134033051',
               '2024-03-14 00:41:59.436295898',
               '2024-04-22 13:51:43.324562987',
               '2024-03-02 04:10:48.215906393',
               '2024-02-06 14:19:00.537439974',
               '2024-05-23 07:12:28.783104754',
               '2024-01-30 11:02:21.168963521',
               '2024-06-14 19:24:05.429246984',
               '2024-03-27 13:58:41.096495695',
               '2024-04-09 19:56:49.280835156'],
              dtype='datetime64[ns]', length=288, freq=None)

In [16]:
df['data_criacao'] = random_timestamps
df['data_criacao'] = df['data_criacao'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [19]:
df.to_json('cartao.json',index=False)

In [21]:
import pandas as pd
df = pd.read_csv('conta.csv')

In [24]:
df['data_criacao'] = pd.to_datetime(df['data_criacao'])

/var/folders/8r/9lkd9b_s76n56hpgsm3jgm7c0000gn/T/ipykernel_70428/1273587469.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['data_criacao'] = pd.to_datetime(df['data_criacao'])

In [25]:
df.to_xml('conta.xml',index=False)

In [42]:
df = pd.read_json('data/cartao.json')

In [45]:
df.to_json('data/cartao.json', orient='records', indent=4,index=False)

In [57]:
df=pd.read_parquet('data/movimento.parquet')

In [56]:
df.to_parquet('data/movimento.parquet',index=False)

In [50]:
df['id'] = df['id'].astype(int)

      id  vlr_transacao des_transacao       data_movimento  id_cartao
0      1            145        desc 1  04/01/2025 00:00:00        182
1      2             68        desc 2  17/02/2025 00:00:00        159
2      3            162        desc 3  09/02/2025 00:00:00        239
3      4            196        desc 4  10/01/2025 00:00:00         26
4      5            105        desc 1  08/01/2025 00:00:00        173
..   ...            ...           ...                  ...        ...
994  995            153        desc 5  30/01/2025 00:00:00        200
995  996             42        desc 5  08/02/2025 00:00:00        189
996  997             42        desc 5  22/02/2025 00:00:00        217
997  998            124        desc 5  05/01/2025 00:00:00        182
998  999            154        desc 5  11/02/2025 00:00:00        186

[999 rows x 5 columns]

In [53]:
df['vlr_transacao']=df['vlr_transacao'].astype(float)

In [55]:
df['id_cartao']=df['id_cartao'].astype(int)

In [61]:
import polars as pl
pl.read_parquet('data/movimento.parquet')

shape: (999, 5)
┌─────┬───────────────┬───────────────┬─────────────────────┬───────────┐
│ id  ┆ vlr_transacao ┆ des_transacao ┆ data_movimento      ┆ id_cartao │
│ --- ┆ ---           ┆ ---           ┆ ---                 ┆ ---       │
│ i64 ┆ f64           ┆ str           ┆ str                 ┆ i64       │
╞═════╪═══════════════╪═══════════════╪═════════════════════╪═══════════╡
│ 1   ┆ 145.0         ┆ desc 1        ┆ 04/01/2025 00:00:00 ┆ 182       │
│ 2   ┆ 68.0          ┆ desc 2        ┆ 17/02/2025 00:00:00 ┆ 159       │
│ 3   ┆ 162.0         ┆ desc 3        ┆ 09/02/2025 00:00:00 ┆ 239       │
│ 4   ┆ 196.0         ┆ desc 4        ┆ 10/01/2025 00:00:00 ┆ 26        │
│ 5   ┆ 105.0         ┆ desc 1        ┆ 08/01/2025 00:00:00 ┆ 173       │
│ …   ┆ …             ┆ …             ┆ …                   ┆ …         │
│ 995 ┆ 153.0         ┆ desc 5        ┆ 30/01/2025 00:00:00 ┆ 200       │
│ 996 ┆ 42.0          ┆ desc 5        ┆ 08/02/2025 00:00:00 ┆ 189       │
│ 997 ┆ 42.0          ┆ desc 5        ┆ 22/02/2025 00:00:00 ┆ 217       │
│ 998 ┆ 124.0         ┆ desc 5        ┆ 05/01/2025 00:00:00 ┆ 182       │
│ 999 ┆ 154.0         ┆ desc 5        ┆ 11/02/2025 00:00:00 ┆ 186       │
└─────┴───────────────┴───────────────┴─────────────────────┴───────────┘

In [65]:
df = pd.read_csv('data/associado.csv')

In [56]:
pd.read_xml('data/input/conta.xml')['tipo'].value_counts()

tipo
empresarial    115
poupanca        76
corrente        53
Name: count, dtype: int64

In [36]:
import pandas as pd
with open("data/conta.xml", "r", encoding="utf-8") as f:
    first_lines = f.readlines()[:5]  # Lê as primeiras 5 linhas
    for line in first_lines:
        print(repr(line))  # Mostra caracteres ocultos

"<?xml version='1.0' encoding='utf-8'?>\n"
'<data>\n'
'  <row>\n'
'    <id>1</id>\n'
'    <tipo>empresarial</tipo>\n'

In [ ]:
import psycopg2

# Conexão ao postgresql:
conn = psycopg2.connect(
    dbname="si_cooperative_cartoes",
    user="admin",
    password="admin",
    host="localhost"
)
cur = conn.cursor()
cur.execute("drop schema bronze cascade;")
cur.execute("drop schema silver cascade;")
conn.commit()

In [85]:
cur.fetchall()

[(104, 75931264828, 'cliente179', None, 36, 179),
 (105, 50563245958, 'cliente46', None, 109, 46),
 (106, 75696500923, 'cliente185', None, 75, 185),
 (107, 86694093598, 'cliente10', None, 209, 10),
 (108, 68946104180, 'cliente130', None, 25, 130),
 (109, 57156930063, 'cliente95', None, 222, 95),
 (110, 80229715977, 'cliente114', None, 211, 114),
 (111, 46313287346, 'cliente55', None, 123, 55),
 (112, 74347523325, 'cliente101', None, 169, 101),
 (113, 82715876043, 'cliente179', None, 215, 179),
 (114, 47610896178, 'cliente199', None, 240, 199),
 (115, 46082301429, 'cliente8', None, 142, 8),
 (116, 88762237397, 'cliente108', None, 139, 108),
 (117, 76497837176, 'cliente10', None, 205, 10),
 (118, 46791958912, 'cliente41', None, 67, 41),
 (119, 70020814308, 'cliente119', None, 12, 119),
 (120, 83103629113, 'cliente194', None, 112, 194),
 (121, 72382840897, 'cliente121', None, 124, 121),
 (122, 64361287726, 'cliente185', None, 80, 185),
 (123, 63098878799, 'cliente87', None, 54, 87),
 (124, 77552767357, 'cliente190', None, 72, 190),
 (139, 60677360198, 'cliente120', None, 124, 120),
 (140, 58033854636, 'cliente20', None, 35, 20),
 (141, 52712045682, 'cliente1', None, 126, 1),
 (142, 46827453130, 'cliente83', None, 147, 83),
 (143, 73182366507, 'cliente88', None, 82, 88),
 (144, 66154256738, 'cliente51', None, 233, 51),
 (145, 76397114967, 'cliente73', None, 194, 73),
 (146, 57066288328, 'cliente118', None, 30, 118),
 (148, 80061804784, 'cliente137', None, 8, 137),
 (149, 60754861261, 'cliente3', None, 84, 3),
 (150, 79331873978, 'cliente190', None, 208, 190),
 (151, 63734111072, 'cliente23', None, 128, 23),
 (164, 50124543919, 'cliente36', None, 194, 36),
 (165, 76306158225, 'cliente50', None, 196, 50),
 (166, 80422702171, 'cliente17', None, 189, 17),
 (167, 48579451043, 'cliente110', None, 218, 110),
 (168, 75821176081, 'cliente130', None, 100, 130),
 (169, 90582686592, 'cliente188', None, 182, 188),
 (170, 85469408546, 'cliente156', None, 26, 156),
 (171, 56816945302, 'cliente66', None, 157, 66),
 (172, 61093201030, 'cliente98', None, 6, 98),
 (173, 82621513130, 'cliente56', None, 142, 56),
 (180, 77281893324, 'cliente125', None, 175, 125),
 (181, 70784742562, 'cliente12', None, 62, 12),
 (182, 81208437657, 'cliente52', None, 213, 52),
 (183, 55512551892, 'cliente181', None, 225, 181),
 (217, 74640558930, 'cliente6', None, 63, 6),
 (218, 59856248651, 'cliente82', None, 116, 82),
 (219, 45353483842, 'cliente5', None, 203, 5),
 (220, 48904917571, 'cliente177', None, 106, 177),
 (221, 77488729527, 'cliente171', None, 142, 171),
 (222, 45467599311, 'cliente68', None, 60, 68),
 (223, 87715058657, 'cliente190', None, 177, 190),
 (224, 68510543230, 'cliente138', None, 133, 138),
 (283, 55837703115, 'cliente167', None, 2, 167),
 (284, 73021062041, 'cliente70', None, 75, 70),
 (49, 82583494266, 'cliente161', None, 110, 161),
 (50, 72241654950, 'cliente14', None, 104, 14),
 (51, 45864543250, 'cliente31', None, 45, 31),
 (52, 61058372656, 'cliente3', None, 209, 3),
 (53, 88031899836, 'cliente75', None, 160, 75),
 (54, 83251064315, 'cliente125', None, 111, 125),
 (55, 89010732053, 'cliente172', None, 225, 172),
 (56, 56669192236, 'cliente160', None, 83, 160),
 (57, 56722702196, 'cliente145', None, 146, 145),
 (58, 59293034238, 'cliente92', None, 163, 92),
 (59, 61333059945, 'cliente193', None, 182, 193),
 (60, 54173132789, 'cliente13', None, 147, 13),
 (61, 49769104665, 'cliente192', None, 131, 192),
 (62, 79477973327, 'cliente196', None, 129, 196),
 (63, 61179632896, 'cliente27', None, 149, 27),
 (64, 54009555153, 'cliente57', None, 129, 57),
 (65, 68664673411, 'cliente148', None, 215, 148),
 (66, 67947883748, 'cliente113', None, 183, 113),
 (67, 76224344715, 'cliente142', None, 49, 142),
 (68, 61745982841, 'cliente23', None, 173, 23),
 (69, 52022578360, 'cliente184', None, 195, 184),
 (70, 89640894594, 'cliente157', None, 59, 157),
 (71, 47551613940, 'cliente145', None, 170, 145),
 (72, 86729617827, 'cliente118', None, 213, 118),
 (73, 74131858117, 'cliente169', None, 2, 169),
 (74, 62814060455, 'cliente47', None, 164, 47),
 (75, 54187641499, 'cliente163', None, 225, 163),
 (76, 77509533952, 'cliente80', None, 28, 80),
 (77, 60374919262, 'cliente153', None, 168, 153),
 (78, 67523133268, 'cliente168', None, 12, 168),
 (79, 47706478504, 'cliente36', None, 126, 36),
 (80, 91460805571, 'cliente68', None, 166, 68),
 (81, 62193130899, 'cliente14', None, 128, 14),
 (82, 87409660529, 'cliente191', None, 28, 191),
 (83, 54044077175, 'cliente155', None, 87, 155),
 (84, 88410978775, 'cliente77', None, 13, 77),
 (85, 56443772903, 'cliente69', None, 181, 69),
 (86, 64464452814, 'cliente119', None, 38, 119),
 (87, 76164618988, 'cliente169', None, 54, 169),
 (88, 76130606301, 'cliente162', None, 175, 162),
 (89, 58570624395, 'cliente98', None, 79, 98),
 (90, 53010867907, 'cliente97', None, 170, 97),
 (91, 45670165188, 'cliente160', None, 84, 160),
 (92, 78360334527, 'cliente77', None, 150, 77),
 (93, 63094876555, 'cliente143', None, 110, 143),
 (94, 71933853085, 'cliente185', None, 221, 185),
 (95, 88874412654, 'cliente101', None, 66, 101),
 (96, 55553878138, 'cliente77', None, 105, 77),
 (97, 71462338849, 'cliente52', None, 134, 52),
 (98, 67170133965, 'cliente92', None, 3, 92),
 (99, 46274436941, 'cliente11', None, 42, 11),
 (100, 87747511307, 'cliente80', None, 7, 80),
 (101, 87294212811, 'cliente102', None, 77, 102),
 (102, 47696786005, 'cliente63', None, 224, 63),
 (103, 65686477679, 'cliente20', None, 160, 20),
 (285, 54150460402, 'cliente176', None, 185, 176),
 (286, 64494953936, 'cliente38', None, 29, 38),
 (1, 45362117086, 'cliente103', None, 33, 103),
 (2, 71600523487, 'cliente101', None, 160, 101),
 (3, 46016682819, 'cliente60', None, 155, 60),
 (4, 67015736695, 'cliente190', None, 213, 190),
 (5, 81192832431, 'cliente114', None, 40, 114),
 (6, 84335257650, 'cliente10', None, 217, 10),
 (7, 46858396832, 'cliente71', None, 46, 71),
 (8, 79537538367, 'cliente180', None, 184, 180),
 (9, 45109426796, 'cliente105', None, 219, 105),
 (10, 69880591439, 'cliente11', None, 193, 11),
 (11, 91856467016, 'cliente32', None, 139, 32),
 (12, 52389494700, 'cliente60', None, 60, 60),
 (13, 47227579641, 'cliente38', None, 111, 38),
 (14, 87126846202, 'cliente151', None, 91, 151),
 (15, 74643034344, 'cliente33', None, 229, 33),
 (16, 75280437732, 'cliente144', None, 9, 144),
 (17, 83559381260, 'cliente165', None, 74, 165),
 (18, 56787516794, 'cliente188', None, 220, 188),
 (19, 54500885461, 'cliente104', None, 33, 104),
 (20, 61738330826, 'cliente184', None, 87, 184),
 (21, 88215332137, 'cliente119', None, 179, 119),
 (22, 52180467988, 'cliente189', None, 139, 189),
 (23, 58724939380, 'cliente66', None, 163, 66),
 (24, 56068888806, 'cliente195', None, 240, 195),
 (25, 79087134639, 'cliente48', None, 156, 48),
 (26, 55264278425, 'cliente142', None, 123, 142),
 (27, 48098096136, 'cliente117', None, 226, 117),
 (28, 72202317241, 'cliente26', None, 151, 26),
 (29, 56656861089, 'cliente132', None, 213, 132),
 (30, 68706026382, 'cliente88', None, 69, 88),
 (31, 69395659207, 'cliente75', None, 191, 75),
 (32, 75617468499, 'cliente41', None, 11, 41),
 (33, 85607090782, 'cliente34', None, 17, 34),
 (34, 55272644610, 'cliente152', None, 95, 152),
 (35, 67736575477, 'cliente32', None, 70, 32),
 (36, 76273680629, 'cliente69', None, 20, 69),
 (37, 68424297853, 'cliente178', None, 123, 178),
 (38, 72545105642, 'cliente172', None, 37, 172),
 (39, 91450992702, 'cliente142', None, 36, 142),
 (40, 69935466646, 'cliente73', None, 168, 73),
 (41, 57147577878, 'cliente169', None, 57, 169),
 (42, 47902166443, 'cliente190', None, 125, 190),
 (43, 86986795113, 'cliente119', None, 66, 119),
 (44, 76440053950, 'cliente64', None, 177, 64),
 (45, 91881073226, 'cliente62', None, 135, 62),
 (46, 78858640785, 'cliente97', None, 183, 97),
 (47, 73162650527, 'cliente37', None, 215, 37),
 (48, 84352624873, 'cliente61', None, 180, 61),
 (147, 90684610013, 'cliente121', None, 179, 121),
 (179, 54237221478, 'cliente32', None, 106, 32),
 (231, 58244078255, 'cliente50', None, 144, 50),
 (232, 63677341836, 'cliente118', None, 226, 118),
 (233, 65523775847, 'cliente98', None, 141, 98),
 (234, 80094757287, 'cliente93', None, 216, 93),
 (261, 55763747510, 'cliente39', None, 217, 39),
 (267, 74760123420, 'cliente86', None, 39, 86),
 (125, 62953079993, 'cliente17', None, 182, 17),
 (126, 59291862452, 'cliente40', None, 214, 40),
 (127, 75047640113, 'cliente153', None, 25, 153),
 (128, 78480742787, 'cliente72', None, 201, 72),
 (129, 46861424111, 'cliente85', None, 227, 85),
 (130, 62328008718, 'cliente89', None, 29, 89),
 (131, 81492489314, 'cliente121', None, 95, 121),
 (132, 75466467410, 'cliente42', None, 148, 42),
 (133, 56466390503, 'cliente32', None, 164, 32),
 (134, 89868680508, 'cliente160', None, 49, 160),
 (135, 60494049535, 'cliente33', None, 126, 33),
 (136, 54269041900, 'cliente113', None, 111, 113),
 (137, 75935778402, 'cliente2', None, 59, 2),
 (138, 70386643649, 'cliente10', None, 14, 10),
 (152, 51804061409, 'cliente17', None, 185, 17),
 (153, 65608825103, 'cliente74', None, 33, 74),
 (154, 64572528794, 'cliente94', None, 85, 94),
 (155, 85613115194, 'cliente52', None, 196, 52),
 (156, 78555560554, 'cliente181', None, 74, 181),
 (157, 62009627686, 'cliente194', None, 191, 194),
 (158, 55019947643, 'cliente11', None, 227, 11),
 (159, 90854400003, 'cliente77', None, 120, 77),
 (160, 89236339513, 'cliente45', None, 96, 45),
 (161, 77059414053, 'cliente95', None, 102, 95),
 (162, 49709321035, 'cliente27', None, 136, 27),
 (163, 57439188622, 'cliente5', None, 28, 5),
 (174, 91861588260, 'cliente166', None, 242, 166),
 (175, 76969558523, 'cliente145', None, 79, 145),
 (176, 77991674651, 'cliente136', None, 145, 136),
 (177, 59677797095, 'cliente83', None, 59, 83),
 (178, 84830511047, 'cliente80', None, 167, 80),
 (184, 75518494948, 'cliente142', None, 80, 142),
 (185, 83112202361, 'cliente184', None, 194, 184),
 (186, 53022756417, 'cliente130', None, 154, 130),
 (187, 46662774907, 'cliente58', None, 197, 58),
 (188, 82167126923, 'cliente123', None, 1, 123),
 (189, 89214328510, 'cliente168', None, 186, 168),
 (190, 88670577695, 'cliente177', None, 48, 177),
 (191, 68211517433, 'cliente76', None, 243, 76),
 (192, 91926260103, 'cliente31', None, 44, 31),
 (225, 60018787955, 'cliente19', None, 119, 19),
 (226, 83359844418, 'cliente104', None, 235, 104),
 (227, 82602117041, 'cliente78', None, 34, 78),
 (228, 78546780831, 'cliente110', None, 44, 110),
 (229, 64771863895, 'cliente48', None, 206, 48),
 (230, 67652727420, 'cliente130', None, 233, 130),
 (235, 77553772249, 'cliente25', None, 35, 25),
 (236, 63445351353, 'cliente81', None, 69, 81),
 (237, 62936828591, 'cliente169', None, 184, 169),
 (257, 73012196501, 'cliente86', None, 183, 86),
 (258, 59684037992, 'cliente198', None, 215, 198),
 (259, 66456181546, 'cliente88', None, 167, 88),
 (260, 83896898470, 'cliente129', None, 31, 129),
 (262, 83094347703, 'cliente102', None, 79, 102),
 (263, 68098970596, 'cliente19', None, 38, 19),
 (264, 48075577688, 'cliente197', None, 81, 197),
 (265, 57754737217, 'cliente192', None, 63, 192),
 (266, 63970985361, 'cliente149', None, 137, 149),
 (193, 74748740550, 'cliente72', None, 199, 72),
 (194, 53304309908, 'cliente22', None, 111, 22),
 (195, 75514562115, 'cliente69', None, 142, 69),
 (196, 70890848330, 'cliente115', None, 121, 115),
 (197, 71499487219, 'cliente83', None, 24, 83),
 (198, 46502443453, 'cliente87', None, 153, 87),
 (199, 75123726353, 'cliente27', None, 48, 27),
 (200, 69399242977, 'cliente1', None, 13, 1),
 (201, 83266829482, 'cliente45', None, 105, 45),
 (202, 70020391226, 'cliente180', None, 89, 180),
 (203, 88631001449, 'cliente75', None, 202, 75),
 (204, 83331713402, 'cliente75', None, 166, 75),
 (205, 82376356532, 'cliente121', None, 159, 121),
 (206, 86288805722, 'cliente187', None, 185, 187),
 (207, 91831493717, 'cliente155', None, 211, 155),
 (208, 80259196299, 'cliente117', None, 134, 117),
 (209, 75225394730, 'cliente19', None, 218, 19),
 (210, 58469587094, 'cliente165', None, 29, 165),
 (211, 60566396619, 'cliente138', None, 15, 138),
 (212, 75205556920, 'cliente179', None, 100, 179),
 (213, 84418283177, 'cliente164', None, 113, 164),
 (214, 54216784008, 'cliente102', None, 14, 102),
 (215, 75100519488, 'cliente7', None, 129, 7),
 (216, 68864672068, 'cliente65', None, 77, 65),
 (238, 56932353049, 'cliente148', None, 148, 148),
 (239, 61223565760, 'cliente113', None, 227, 113),
 (240, 89713287477, 'cliente174', None, 164, 174),
 (241, 51715833902, 'cliente12', None, 99, 12),
 (242, 63487243886, 'cliente151', None, 167, 151),
 (243, 69458058473, 'cliente5', None, 11, 5),
 (244, 89964287705, 'cliente29', None, 138, 29),
 (245, 56745490203, 'cliente113', None, 77, 113),
 (246, 72220529674, 'cliente60', None, 212, 60),
 (247, 81013341768, 'cliente88', None, 165, 88),
 (248, 45795031922, 'cliente149', None, 114, 149),
 (249, 63041232237, 'cliente43', None, 79, 43),
 (250, 66350548177, 'cliente182', None, 29, 182),
 (251, 45402294085, 'cliente109', None, 46, 109),
 (252, 84478815997, 'cliente77', None, 115, 77),
 (253, 45160503408, 'cliente49', None, 233, 49),
 (254, 81636295187, 'cliente129', None, 53, 129),
 (255, 67314907599, 'cliente69', None, 231, 69),
 (256, 71746910788, 'cliente46', None, 100, 46),
 (268, 64966792701, 'cliente189', None, 132, 189),
 (269, 63044496388, 'cliente194', None, 152, 194),
 (270, 90693133283, 'cliente116', None, 104, 116),
 (271, 49443338426, 'cliente81', None, 199, 81),
 (272, 80287863353, 'cliente22', None, 17, 22),
 (273, 51360845217, 'cliente74', None, 223, 74),
 (274, 84506686531, 'cliente110', None, 44, 110),
 (275, 77920071284, 'cliente124', None, 99, 124),
 (276, 71327136394, 'cliente153', None, 165, 153),
 (277, 86862634453, 'cliente47', None, 98, 47),
 (278, 47301990106, 'cliente195', None, 199, 195),
 (279, 57519548824, 'cliente102', None, 16, 102),
 (280, 80354012265, 'cliente155', None, 132, 155),
 (281, 89229731278, 'cliente7', None, 214, 7),
 (282, 78031807783, 'cliente113', None, 143, 113),
 (287, 73731978965, 'cliente1', None, 244, 1),
 (288, 47887195670, 'cliente149', None, 177, 149)]